################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OWIN1/v15/Server/sqlite3
/bin
/obj/Debug
